body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0fffb;
  margin-left: 20%;
  margin-right: 20%;
}

hr {
  background-color: black;
  border: none;
  height: 2px;
}

h1, h3 {
  color: #66BFBF;
}

.profile-img {
  height: 175px;
}
