@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

hr {
  border: none;
  height: 2px;
}

.profile-img {
  height: 150px;
  padding-right: 10px;
}

.theme-button {
  border-radius: 5%;
  width: 120px;
  height: 40px;
  font-size: 20px;
  float: right;
  border: none;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-button {
  border-radius: 5%;
  height: 40px;
  font-size: 20px;
  display: inline-block;
}

.nav-button a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

/* This should be the only time that colours are defined in this file */
.swal-footer { text-align: center; }
.swal-button { width: 100px; }
.swal-button--Ice {
  background-color: #79bcfd;
  color:black;
}
.swal-button--Ice:not([disabled]):hover {
  background-color: #79bcfd;
  box-shadow: 0 0 20px rgba(153, 205, 255, 1);
}
.swal-button--Fire {
  background-color: #ff6c00;
  color:white;
}
.swal-button--Fire:not([disabled]):hover {
  background-color: #ff6c00;
  box-shadow: 0 0 20px rgba(255, 108, 0, 1);
}
.swal-button--Dark {
  background-color: #cf0000;
  color:white;
}
.swal-button--Dark:not([disabled]):hover {
  background-color: #cf0000;
  box-shadow: 0 0 20px rgba(255, 15, 15, 0.9);
}
.swal-button--Light {
  background-color: #30ffff;
  color: black;
}
.swal-button--Light:not([disabled]):hover {
  background-color: #30ffff;
  box-shadow: 0 0 20px rgba(48, 255, 255, 1);
}
