body {
  background-color: #e0fffb;
}

hr {
  background-color: black;
}

h1, h3 {
  color: #66BFBF;
}

.theme-button {
  border: none;
  background-color: #00e3c6;
  color:black;
}

.theme-button:hover {
  box-shadow: 0px 0px 50px rgba(102, 191, 191, 0.9);
}
