body {
  background-color: white;
  color: black;
}

hr {
  background-color: #30ffff;
}

h1, h3 {
  color: #30ffff;
}

.theme-button, .nav-button {
  background-color: #30ffff;
  color: black;
}

.theme-button:hover, .nav-button:hover {
  box-shadow: 0 0 20px rgba(48, 255, 255, 1);
}

a { color: #11bfbf; }

a:visited { color: #11bfbf; }

.nav-button a {
  color: black;
}
