body {
  background-color: #e0fffb;
}

hr {
  background-color: black;
}

h1, h3 {
  color: #79bcfd;
}

.theme-button, .nav-button {
  background-color: #79bcfd;
  color:black;
}

.theme-button:hover, .nav-button:hover {
  box-shadow: 0 0 20px rgba(153, 205, 255, 1);
}

.nav-button a {
  color:black;
}
