body {
  background-color: #c91800;
  color: white;
}

hr {
  background-color: white;
}

h1, h3 {
  color: #ff6c00;
}

.theme-button, .nav-button {
  background-color: #ff6c00;
  color:white;
}

.theme-button:hover, .nav-button:hover {
  box-shadow: 0 0 20px rgba(255, 108, 0, 1);
}

a { color: #ff6c00; }

a:visited { color: #ff6c00; }

.nav-button a {
  color:white;
}
