.wrapper {
  margin-top: 45px;
}

.sites {
  padding: 0 5% 5%;
}

.card {
  border: 1px solid rgb(0,0,0);
  border: 1px solid rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 20px 60px 5px rgba(0,0,0,0.48);
  -moz-box-shadow: 0 20px 60px 5px rgba(0,0,0,0.48);
  box-shadow: 0 20px 60px 5px rgba(0,0,0,0.48);
  margin: 10px 10px;
  padding: 0;
}

.section-header {
  padding: 1% 15% 0;
}
