@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.wrapper {
    font-family: 'Roboto', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 65px;
}

hr {
  border: none;
  height: 2px;
}

.profile-img {
  height: 150px;
  padding-right: 10px;
}

.theme-button {
  border-radius: 5%;
  width: 120px;
  height: 40px;
  font-size: 20px;
  float: right;
  border: none;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-button {
  border-radius: 5%;
  height: 40px;
  font-size: 20px;
  display: inline-block;
}

.nav-button a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}
