@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color: #3f3f3f;
  color: white;
}

hr {
  background-color: #cf0000;
  border: none;
  height: 2px;
}

h1, h3 {
  color: #cf0000;
}

a { color: #ee4040; }

a:visited { color: #ee4040; }


.wrapper {
    font-family: 'Roboto', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 65px;
}

.profile-img {
  height: 150px;
  padding-right: 10px;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-button {
  background-color: #cf0000;
  border-radius: 5px;
  color:white;
  height: 40px;
  font-size: 20px;
  display: inline-block;

}

.nav-button a {
  color:white;
  display: block;
  padding: 5px 16px;
  text-decoration: none;
}

.nav-button:hover {
  box-shadow: 0 0 20px rgba(255, 15, 15, 0.9);
}
